name: Build and release to Google Play

on:
  push:
    branches: [ release/* ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-release-google-play:
    name: Build and release to Google Play
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
        with:
          fetch-depth: '0'

      - name: Setup JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 #4.2.1
        with:
          java-version: 17
          distribution: oracle

      - name: Setup Android SDK Tools
        uses: android-actions/setup-android@00854ea68c109d98c75d956347303bf7c45b0277 #v3.2.1

      - name: Setup Ruby
        uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc # pin@v1.202.0
        with:
          bundler-cache: true

      - name: Get Secrets
        uses: bitwarden/sm-action@14f92f1d294ae3c2b6a3845d389cd2c318b0dfd8 # pin@v2.2.0
        with:
          access_token: ${{ secrets.BW_ACCESS_TOKEN }}
          base_url: https://vault.bitwarden.eu
          secrets: |
            235aa3fe-7605-4337-ab29-b32c0085d539 > CI_ACCESS_USERNAME
            16eca8c9-cccf-448b-a731-b32c0085e7ed > CI_ACCESS_TOKEN
            b0f5d09e-1302-4d68-a74b-b32c00c7373b > RELEASE_KEY_PASSWORD
            13778a7b-3a7f-492e-a5da-b32c00c71bf3 > RELEASE_KEY_ALIAS
            0b918a95-398d-44b4-8c0f-b32c00c750a1 > RELEASE_KEYSTORE
            f6dfe34d-3d10-4fa6-a399-b32c00d65843 > GOOGLE_SERVICE_ACCOUNT_JSON

      - name: Decode Google service account JSON
        run: |
          echo $GOOGLE_SERVICE_ACCOUNT_JSON | base64 -di > gsa.json

      - name: Decode keystore
        run: |
          echo $RELEASE_KEYSTORE | base64 -di > release.jks

      - name: Build bundle and release to Google Play
        run: bundle exec fastlane android deploy
